<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <div id="demo">

    </div>
    <!--React 核心库-->
    <script src="../../../js/react.js"></script>
    <!--React 跟 Dom 相关的功能库-->
    <script src="../../../js/react-dom.js"></script>
    <!--jsx 转换 js 的框架 babel-->
    <script src="../../../js/browser.min.js"></script>
    <!-- ES6 JSX -->
    <script type="text/babel">
        class Xheader extends React.Component {
            constructor(props){
                super(props)
                // 父传子 老爸给我的
                this.props = props;
                // 自己拥有的 就是vue组件里面data  Model
                this.state = {
                    "title":"微信"
                };
            }
            // view
            render() {
                return <header>{this.state.title}</header>;
            }
        }
        ReactDOM.render(
            <div>hello world</div>,
            document.querySelector("#demo")
        )

    </script>
</body>

</html>