<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <style>
        *{
            margin: 0;
            padding: 0;
        }
        header{
            background-color: red;
            color: white;
            text-align: center;
            line-height: 50px;
            height: 50px;
            width: 100%;
        }
    </style>
    <div id="demo">
        
    </div>
    <script src="../js/react.js"></script>
    <script src="../js/react-dom.js"></script>
    <script src="../js/babel.js"></script>
    <!-- ES6 JSX -->
    <script type="text/babel">
        var Xheader =  (props) => {
            return <header>微博</header>
        }
        ReactDOM.render(
            <div>
                <Xheader />
                <Xheader />
            </div>,
            document.querySelector("#demo")
        )
    </script>
</body>
</html>